.cards {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 32px;
    border-radius: 32px;
    gap: 24px;

    align-items: center;
    border: 2px solid #0000006d;

    button {
        width: 200px;
        font-size: 18px;
        padding: 12px;
        height: 45px;
    }


    img {
        height: 200px;
        width: 200px;
    }
}